<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <main>
      <h2>Avisos y noticias</h2>
    <% page.posts.each(function(post){ %>
      <div class="w3-card w3-light-grey w3-round-xlarge w3-margin">
          <header class="w3-container">
              <h3><%= post.date.toLocaleDateString || "Aviso del sitio"%> </h3>
          </header>
          <div class="w3-container">
              <p>
                  <a href="<%= url_for(post.path) %>"><%= post.title %></a>
              </p>
          </div>
      </div>



        <!--
      <article>
        <div><%= post.excerpt %></div>
      </article>
      -->
    <% }) %>

      <hr>
      <ul>
        <% site.pages.forEach(function(page) { %>
          <li>
            <a href="<%= url_for(page.path) %>"><%= page.title || page.slug %></a>
          </li>
        <% }) %>
      </ul>

  </main>
  <%- partial('_partial/footer') %>
</body>
</html>
